.container {
  user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -o-user-select: none;
  background-color: darkgrey;
  margin-top: 1rem;
  border-radius: .25rem;
  padding-bottom: 1rem;
}
